* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #4c4545;
  color: #ff0000;
}

.container{
    margin: auto;
    width: 100dvw;
}

.container1_section{
    width: 80%;
}