* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  color: #bb2f2f;
}

.container{
    margin: auto;
    width: 100dvw;
}

.container1_section{
    width: 80%;
}